# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
*.d
*.o
Debug/RV_software.hex
*.atsuo
Debug/RV_software.elf
*.a
Debug/RV_software.eep
*.cppproj
Visual Micro/.RV_software.vsarduino.h
*.xml
*.xml
*.atsln
RV_software/Visual Micro/.RV_software.vsarduino.h
*.eep
*.elf
*.hex
